nav {
    background-color: #7ba799 !important;
    height: 10vh !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

body {
    background: #7ba799;
    height: 100%;
    width: 100%;
}

.Cat {
    box-sizing: content-box;
    filter: hue-rotate(130deg) brightness(550%);
    height: 80px;
    padding: 20px;
    width: 125px;
}

.notFound {
    height: auto;
    padding: 0 0 0 15px;
    width: 100%;
}

.button {
    width: 350px;
    height: 77px;
}

.content {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: space-around;
}

.principal {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 45%;
}

.principal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;   
    background: #6ca18a;
    box-shadow: 0px 15px 30px 0px #031b11;
    border-radius: 32px;
}

.text {
    align-self: center;
    background: #c8e7c8;
    background-color: #6ca18a;
    border: none;
    color: #031b11 !important;
    font-family: 'Inter';
    font-size: 32px !important;
    font-style: normal;
    height: 50%;
    width: 80%;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.encript {
    background: #6ca18a;
    border: 1px solid #053a1d;
    border-radius: 24px;
    color: #053a1d;
}

.desencript {
    background: #c8e7c8;
    border: 1px solid #053a1d;
    border-radius: 24px;
    color: #053a1d;
}

.secundaria {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 97%;
    justify-content: space-around;
    width: 25%;
}

.secundaria_content {
    align-items: center;
    background: #6ca18a;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #031b11;
    display: flex;
    flex-direction: column;
    height: 60%;   
    justify-content: center;
     width: 100%;
}

.textChanged {
    background: #6ca18a;
    border: 0 ;
    color: #053a1d;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    height: 50%;
    width: 80%;
}

.copyText {
    background: #c8e7c8;
    border: 1px solid #053a1d;
    border-radius: 24px;
    color: #053a1d;
}

.text_spam {
    color: #053a1d;
    font-size: 25px;
}

.textP {
    color: #053a1d;
    padding: 136% 17% 0 26%;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    nav {
        align-items: center;
    }

    .content {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .secundaria {
        width: 45%;
        justify-content: space-between;
        align-items: center;
    }

    .secundaria_content{
        margin: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .notFound {
        width: 50%;
        height: 60%;
    }
    .animation {
        width: 90%;
        height: 60%;
    }
    
    .button {
        margin: 3%;
        width: 120px;
        height: 60px;
    }

    .buttons {
        justify-content: center;
    }
}

@media screen and ((min-width: 1025px) and (max-width: 1700px)) {
        
    .button {
        margin: 6%;
        width: 220px;
        height: 77px;
    }

    .secundaria_content{
        text-align: center;
    }
}